
<div{{ attributes }}>
    <div style="margin-top: 1.2em">
      <strong>Liens utiles :</strong>
    </div>


    <ul style="margin-left: 20px">
      {% for item in items %}
        <li>
          <div{{ item.attributes }}>
            <a href="{{ item.content }}" target="_blank">
              {{ item.content }}
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>

</div>
